@model IEnumerable<Product>
@{
    ViewData["Title"] = "Products List!";
}

<link rel="stylesheet" href="~/css/products.css" />

<h1>@ViewBag.PageTitle</h1>
<hr />

@if (Model.Any())
{
    <div class="container text-center">
        <div class="row g-4">
            @foreach (Product product in Model)
            {
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card product-card shadow bg-body-tertiary rounded h-100">
                        <img src="@Url.Content(product.Picture)" class="card-img-top product-image" alt="@product.ProductName" />
                        <div class="card-body">
                            <h5 class="card-title">@product.ProductName</h5>
                            <p class="card-text">@product.Description</p>
                            <hr />
                            <div class="d-flex justify-content-between card-buttons">
                                <a class="btn btn-primary" asp-action="Details" asp-route-id="@product.ProductId">Show Details</a>


                                <form asp-controller="Carts" asp-action="AddToCart" method="post" class="d-inline">
                                    <input type="hidden" name="productId" value="@product.ProductId" />
                                    <input type="hidden" name="quantity" value="1" />
                                    <button type="submit" class="btn btn-success">Add To Cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <h1>No Products Available under this Category!</h1>
}
